.idea/
.#*
__pycache__/
.pytest_cache/
.DS_Store
aetherling.egg-info/
*.json
*.log
*.aux
.stack-work/
AetherlingSTIR.cabal
cabal.config
*~
*.iml
.idea
.stack-work
GPATH
GRTAGS
GTAGS
TAGS
.dir-locals.el

